* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

.container {
  padding: 0 250px;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 2px solid #000;
}

.home {
  padding-top: 40px;
  padding-bottom: 104px;
}

.greeting {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.name {
  font-size: 47px;
  font-weight: bold;
}

.occupation {
  font-size: 18px;
}

.language {
  writing-mode: vertical-lr;
  font-size: 16px;
}

.about {
  text-align: center;
  padding: 120px;
  background-color: #f6f6f6;
}

.about_title {
  margin-bottom: 18px;
}

.about p {
  margin-bottom: 30px;
}

.skills {
  padding-top: 91px;
  padding-bottom: 110px;
  text-align: center;
}

.skills_subtitle {
  margin-top: 69px;
  margin-bottom: 83px;
  text-align: center;
}

.skills_rating_list {
  display: flex;
  justify-content: space-between;
}

.skills_rating {
  text-align: center;
}

.skills_rating span {
  display: block;
  margin-bottom: 40px;
  margin-top: 24px;
}

.svg_figma {
  margin-top: 57px;
}

.portfolio {
  text-align: center;
  padding-top: 113px;
  padding-bottom: 96px;
  background-color: #f6f6f6;
}

.text_decoration {
  text-decoration: underline;
}

.portfolio_images {
  margin-top: 99px;
}

.contacts {
  text-align: center;
  padding-top: 114px;
  padding-bottom: 123px;
}

.button_send_massage {
  padding: 13px 30px;
  background-color: #000;
  color:#fff;
  border-radius: 30px;
}

.contacts_socialnetworks {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;
}

.contacts_like_me {
  color: #828282;
}